#----------------------------------------------------------------------------------------
# Fedora Install Script
# Imput packages to install
#----------------------------------------------------------------------------------------

# Reserved values:
PackageSelectionVersion	0.4

# Values:
#   PackageName: Name of package
#   Category: Optional Category (see documentation)

# PackageName	Category


# #####################################################################
# Repos
http://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm	repo
http://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm	repo

# #####################################################################
# base
gnome-tweak-tool	base
screen	base
mc	base
"kernel-devel-uname-r == $(uname -r)"	base

# #####################################################################
# Utils Base
powerline	utils-base
tmux-powerline	utils-base
vim-powerline	utils-base

# #####################################################################
# Themes and Dock
plank	themes
plank-docklets	themes
wmctrl	themes
tint2	themes

google-android-emoji-fonts	themes
google-croscore-arimo-fonts	themes
google-croscore-cousine-fonts	themes
google-croscore-fonts-common	themes
google-crosextra-caladea-fonts	themes
google-crosextra-carlito-fonts	themes
google-droid-sans-fonts	themes
google-noto-fonts-common	themes
google-noto-sans-lisu-fonts	themes
google-noto-sans-mandaic-fonts	themes
google-noto-sans-meetei-mayek-fonts	themes
google-noto-sans-sinhala-fonts	themes
google-noto-sans-tagalog-fonts	themes
google-noto-sans-tai-tham-fonts	themes
google-noto-sans-tai-viet-fonts	themes
google-droid-sans-mono-fonts	themes
google-droid-serif-fonts	themes
google-noto-mono-fonts	themes
google-noto-sans-fonts	themes
google-noto-sans-ui-fonts	themes
google-noto-serif-fonts	themes
google-roboto-condensed-fonts	themes
google-roboto-fonts	themes
google-roboto-mono-fonts	themes
gdk-pixbuf2	themes
gtk-murrine-engine	themes

paper-icon-theme	themes
papirus-icon-theme	themes

arc-theme.noarch	themes
arc-theme-plank	themes

adapta-gtk-theme	themes
adapta-gtk-theme-gedit 	themes
adapta-gtk-theme-plank	themes

clearlooks-phenix-openbox-theme	themes
openbox-theme-mistral-thin	themes
openbox-theme-mistral-thin-dark	themes


# #####################################################################
# Gnome
gnome-tweak-tool	gnome
gnome-boxes	gnome
gnome-builder	gnome
gnome-calculator	gnome
gnome-calendar	gnome
gnome-clocks	gnome
gnome-disk-utility	gnome
gnome-photos	gnome
gnome-music	gnome
gnome-software	gnome
gnome-sound-recorder	gnome
gnome-todo	gnome
gnome-weather	gnome
gnome-maps	gnome

# #####################################################################
# Music
clementine	music
ffmpeg-devel	music
ffmpeg	music

gstreamer	music
gstreamer-tools	music
gstreamer-ffmpeg	music
gstreamer-plugins-bad	music
gstreamer-plugins-bad-free	music
gstreamer-plugins-bad-nonfree	music
gstreamer-plugins-base gstreamer-plugins-good	music
gstreamer-plugins-ugly gstreamer-plugins-base-tools	music
gstreamer-plugins-good-extras	music

gstreamer1	music
gstreamer1-plugins-bad-free	music
gstreamer1-plugins-bad-free-extras	music
gstreamer1-plugins-bad-nonfree	music
gstreamer1-plugins-base	music
gstreamer1-plugins-good	music
gstreamer1-plugins-ugly	music
gstreamer1-plugins-bad-freeworld	music
gstreamer1-plugins-base-tools	music
gstreamer1-plugins-good-extras	music
gstreamer1-libav	music

lollypop	music

# #####################################################################
# utils
menulibre	utils

mtr	utils
htop	utils
iftop	utils
iotop	utils

filezilla	utils
rdesktop	utils
keepassxc	utils

curl	utils
unrar	utils
libunrar	utils
p7zip	utils
p7zip-gui	utils
p7zip-plugins	utils
gparted	utils
wget	utils
ghex	utils

gpodder	utils
calibre	utils
audacity	utils

tmux	utils
tmux-top	utils
tmuxinator	utils
tmux-powerline	utils

vim-common	utils
vim-enhanced	utils
vim-filesystem	utils
vim-minimal	utils
vim-powerline	utils

vim-gtk-syntax	utils
vim-latex	utils
vim-nerdtree	utils
vim-perl-support	utils
vim-taglist	utils

vim-syntastic-c	utils
vim-syntastic-css	utils
vim-syntastic-html	utils
vim-syntastic-javascript	utils
vim-syntastic-json	utils
vim-syntastic-lua	utils
vim-syntastic-perl	utils
vim-syntastic-php	utils
vim-syntastic-python	utils
vim-syntastic-xhtml	utils
vim-syntastic-xml	utils

foo2zjs	utils

bash-completion	utils

grsync	utils

xsel	utils
xclip	utils

urlview	utils
scrot	utils
screenfetch	utils
neofetch 	utils

youtube-dl	utils

openbox	utils
feh	utils
xorg-x11-drv-libinput	utils
volumeicon	utils
xorg-x11-server-utils	utils
network-manager-applet	utils

obmenu	utils
obconf	utils
wmctrl	utils

hplip	utils
hplip-gui	utils

android-tools	utils

openssh-askpass	utils

numlockx	utils

lm_sensors	utils
dateutils	utils
gnuplot	utils
kdocker	utils

wmctrl	utils
python2-pexpect	utils
python3-pexpect	utils

python2-configparser.noarch	utils
python3-configparser.noarch	utils

# #####################################################################
# Video
vlc	video

kdenlive	video

audacious	video
audacious-plugins	video

# #####################################################################
# Developer 
kernel-headers	developers
kernel-devel	developers
gcc	developers
gcc-c++ gcc-objc	developers
cmake	developers
git	developers
gitg	developers
compat-libstdc++-33	developers
compat-libstdc++-296	developers
compat-libstdc++-33.i686	developers
rpm-build	developers
npm	developers
perl-core	developers
nodejs	developers

gcc	developers
gcc-c++	developers
gcc-objc	developers
make	developers
python-appindicator	developers
libappindicator-gtk3	developers

# #####################################################################
# Java
icedtea-web	java
java-11-openjdk-headless	java
java-11-openjdk	java
java-11-openjdk-devel	java

# #####################################################################
# Networking
NetworkManager-openvpn	networking
NetworkManager-openvpn-gnome	networking
NetworkManager-vpnc	networking
NetworkManager-vpnc-gnome	networking
wireshark	networking
gnome-nettool	networking
nmap	networking
tcpdump	networking
net-snmp-libs	networking
net-snmp	networking
net-snmp-agent-libs	networking
net-snmp-gui	networking
net-snmp-utils	networking

# #####################################################################
# DeveloperTools
geany	developertools
geany-themes	developertools
kdiff3-qt	developertools

automake	developertools
gcc	developertools
gcc-c++	developertools
kernel-devel	developertools
cmake	developertools
nodejs	developertools
npm	developertools
ctags-etags	developertools
powerline	developertools
powerline-fonts	developertools
tmux-powerline	developertools
vim-powerline	developertools
perl-Parse-ExuberantCTags	developertools

python3-requests.noarch	developertools
python2-requests.noarch	developertools

# #####################################################################
# Sensors
hddtemp	sensors
lm_sensors	sensors
conky	sensors
udisks2	sensors

# #####################################################################
# webdev
mariadb	webdev
mariadb-bench	webdev
mariadb-server	webdev
phpmyadmin	webdev
httpd	webdev
httpd-tools	webdev
php	webdev
php-gd	webdev
rrdtool	webdev
php-mhash	webdev
php-mcrypt	webdev
php-Smarty	webdev
php-cli	webdev
php-pear	webdev

# #####################################################################
# Dictionary
aspell	dic
gtkspell	dic
hunspell	dic
hunspell-en-US	dic
aspell-en	dic
aspell-es	dic
hunspell-en	dic
hunspell-es	dic
libreoffice-langpack-es	dic
libreoffice-langpack-en	dic

# #####################################################################
# LateX
texlive*	latex

# #####################################################################
# Photo
dia	photo
inkscape	photo
gimp	photo
gimp-data-*	photo
gimp-fourier-plugin	photo
gimp-lqr-plugin	photo
gimp-resynthesizer	photo
gimpfx-foundry	photo

# #####################################################################
# Drivers
	drivers

# #####################################################################
# office

pidgin	office
pidgin-sipe	office
purple-plugin_pack	office
linphone*	office
evolution	office
evolution-ews	office

obs-studio	office

perl-Switch	office
perl-Time-Progress	office

gnome-calculator	office
gnome-clocks	office
gnome-contacts	office
gnome-maps	office
gnome-software	office
gnome-terminal	office
gnome-tweak-tool	office
gnome-weather	office
gnome-music	office

ftp	office
vte	office
perl-IO-Stty	office
perl-Gtk2-Unique	office
perl-Crypt-Rijndael	office
perl-Crypt-Blowfish	office
perl-Crypt-CBC.noarch	office
perl-Expect	office
perl-Gnome2	office
perl-Gtk2-Ex-Simple-List	office
perl-Gtk2-GladeXML	office
perl-Net-ARP	office
uuid-perl	office
perl-Socket6	office
perl-YAML	office
perl-Gnome2-GConf	office
perl-Gnome2-Vte	office

putty	office
hexchat	office
pacmanager	office

#Fix Discord blank screen
libcxx	office
libcxxabi	office

# #####################################################################
# cockpit

cockpit	cockpit
cockpit-bridge	cockpit
cockpit-dashboard	cockpit
cockpit-docker	cockpit
cockpit-networkmanager	cockpit
cockpit-pcp	cockpit
cockpit-storaged	cockpit
cockpit-system	cockpit
cockpit-ws	cockpit
cockpit-kubernetes	cockpit
cockpit-machines	cockpit
cockpit-selinux	cockpit

# #####################################################################
# virt

virt-install	virt
virt-manager	virt
virt-viewer	virt
virt-top virt-who	virt

libvirt-client	virt
libvirt-daemon	virt
libvirt-daemon-config-network	virt

libvirt	virt
libvirt-admin	virt

libvirt-designer	virt
libvirt-wireshark	virt

# #####################################################################
# eclipse

eric	eclipse
eclipse	eclipse
eclipse-pydev	eclipse
eclipse-pdt	eclipse
eclipse-dltk-sh	eclipse
eclipse-egit	eclipse
eclipse-egit-github	eclipse
eclipse-mpc	eclipse

#----------------------------------------------------------------------------------------
# End file
#----------------------------------------------------------------------------------------
