#----------------------------------------------------------------------------------------
# Fedora Install Script
# Configuration  File
#----------------------------------------------------------------------------------------

# Reserved values:
ConfVersion	0.3

# CFG Values:
#   GenerateLog: Enable logs (true or false)
#   LogPath: Directory to store the logfile
#   LogMask: Mask for logging file
#   Update: Update OS before install packages, this execute dnf update before process package input file (true or false)
#   InstallBasedOnHostName: true or false
#      NOTE: If this value is false, the script read the imput packages to install from the file general.config
#      Otherwise the script read the imput packages from the file whit the current hostname in the filename
#      Example: if the hostname command return this:
#      $ hostname
#      crt72339xx
#      Then the imput file is crt72339xx.config
#   RunSudo: run sudo command? (true or false)
#   ShowProgressWindows: Show progress Message, otherwise only run in terminal. (true or false)

# GenerateLog	LogPath	LogMask	Update	InstallBasedOnHostName	RunSudo	ShowProgressWindows
true	$HOME/fedora-install.log	0600	true	true	true	true

#----------------------------------------------------------------------------------------
# End file
#----------------------------------------------------------------------------------------
