#----------------------------------------------------------------------------------------
# Fedora Install Script
# Imput packages to install
#----------------------------------------------------------------------------------------

# Reserved values:
PackageSelectionVersion	0.2

# Values:
#   PackageName: Name of package
#   Category: Optional Category (see documentation)

# PackageName	Category
mc	utility2
terminator	utility

#----------------------------------------------------------------------------------------
# End file
#----------------------------------------------------------------------------------------
