#----------------------------------------------------------------------------------------
# Fedora Install Script
# Imput packages to install
#----------------------------------------------------------------------------------------

# Reserved values:
PackageSelectionVersion	0.2

# Values:
#   PackageName: Name of package
#   Category: Optional Category (see documentation)

# PackageName	Category

# Repos
http://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm	repo
http://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm	repo

# Utils
screen	utils
mc	utils
gtk-murrine-engine	utils
mtr	utils
htop	utils
iftop	utils
filezilla	utils
rdesktop	utils
keepassx	utils
terminator	utils
nautilus-open-terminal	utils
curl	utils
tigervnc	utils
alacarte	utils
gftp	utils
unrar	utils
p7zip*	utils
p7zip	utils
p7zip-plugins	utils
libunrar	utils
geary	utils
azureus	utils
subdownloader	utils
screenfetch	utils
gparted	utils
kdialog	utils
wget	utils
docky	utils
yakuake	utils

# Gnome
gnome-tweak-tool	gnome
gnome-shell-extension-apps-menu	gnome
gnome-shell-extension-gpaste	gnome
gnome-shell-extension-pidgin	gnome
gnome-boxes	gnome
gnome-builder	gnome
gnome-calculator	gnome
gnome-calendar	gnome
gnome-clocks	gnome
gnome-disk-utility	gnome
gnome-photos	gnome
gnome-music	gnome
gnome-software	gnome
gnome-sound-recorder	gnome
gnome-subtitles	gnome
# gnome-terminal-nautilus	gnome
gnome-todo	gnome
gnome-video-effects	gnome
gnome-weather	gnome
gnome-themes-standard	gnome
gnome-screensaver	gnome
gnome-maps	gnome

# Music
gnome-music	music
ffmpeg-devel	music
ffmpeg	music
gstreamer	music
gstreamer-tools	music
gstreamer-ffmpeg	music
gstreamer-plugins-bad	music
gstreamer-plugins-bad-free	music
gstreamer-plugiscreenfetchns-bad-free-extras	music
gstreamer-plugins-bad-nonfree	music
gstreamer-plugins-base	music
gstreamer-plugins-good	music
gstreamer-plugins-ugly	music
gstreamer-plugins-base-tools	music
gstreamer-plugins-good-extras	music
gstreamer1	music
gstreamer1-ffmpeg	music
gstreamer1-plugins-bad	music
gstreamer1-plugins-bad-free	music
gstreamer1-plugins-bad-free-extras	music
gstreamer1-plugins-bad-nonfree	music
gstreamer1-plugins-base	music
gstreamer1-plugins-good	music
gstreamer1-plugins-ugly	music
gstreamer1-plugins-bad-freeworld	music
gstreamer1-plugins-base-tools	music
gstreamer1-plugins-good-extras	music
gstreamer1-libav	music
picard	music
fmit	music
rakarrack	music
qtractor	music
ardour4	music
sound-juicer	music
audacity	music

# Video
vlc	video

# DVDTools
k3b	dvdtools
k3b-extras-freeworld	dvdtools

# Developer 
kernel-headers	developers
kernel-devel	developers
kernel-doc	developers
eclipse-jdt	developers
eclipse-platform	developers
gcc	developers
gcc-c++	developers
gcc-objc	developers
cmake	developers
git	developers
gitg	developers
libX11-devel	developers
libGL-devel	developers
libv4l-devel	developers
pulseaudio-libs-devel	developers
x264-devel	developers
freetype-devel	developers
fontconfig-devel	developers
libXcomposite-devel	developers
libXinerama-devel	developers
qt5-qtbase-devel	developers
qt5-qtx11extras-devel	developers
libcurl-devel	developers
systemd-devel	developers
hidapi	developers
hidapi-devel	developers
eclipse-webtools-javaee	developers
eclipse-pydev	developers
eclipse-cdt	developers
eclipse-pdt	developers
compat-libstdc++-33	developers
compat-libstdc++-296	developers
compat-libstdc++-33.i686	developers
qt-devel	developers
qt-creator	developers
qt5-assistant	developers
qt5-designer	developers
rpm-build	developers
avr-gcc-c++	developers
mingw32-qt5-qmake	developers
qt5-qtsvg-devel	developers
qt5-qtwebkit-devel	developers
qtchooser	developers
monodevelop	developers

# Java
java-1.8.0-openjdk-headless	java
java-1.8.0-openjdk	java
java	java
java-1.8.0-openjdk-devel	java
icedtea-web	java

# Networking
NetworkManager-openvpn	networking
NetworkManager-openvpn-gnome	networking
NetworkManager-vpnc	networking
NetworkManager-vpnc-gnome	networking
wireshark	networking
wireshark-gnome	networking
gnome-nettool	networking
nmap-frontend	networking
iftop	networking
nmap	networking
mtr	networking
tcpdump	networking

# DeveloperTools
bluefish	developertools
geany	developertools
geany-themes	developertools
kdiff3-qt	developertools

# Sensors
hddtemp	sensors
lm_sensors	sensors
conky	sensors
udisks2	sensors

# Games
steam	games

# webadmin
tomcat	webadmin
tomcat-admin-webapps	webadmin
tomcat-docs-webapp	webadmin
tomcat-webapps	webadmin
mariadb	webadmin
mariadb-bench	webadmin
mariadb-config	webadmin
mariadb-server	webadmin
phpmyadmin	webadmin
httpd	webadmin
httpd-tools	webadmin
php	webadmin
php-gd	webadmin
rrdtool-php	webadmin
rrdtool	webadmin
cockpit	webadmin
cockpit-pcp	webadmin
php-mhash	webadmin
php-mcrypt	webadmin
php-Smarty	webadmin

# Dictionary
aspell	dic
gtkspell	dic
hunspell	dic
hunspell-en-US	dic
aspell-en	dic
aspell-es	dic
hunspell-en	dic
hunspell-es	dic
libreoffice-langpack-es	dic
libreoffice-langpack-en	dic

# LateX
texlive	latex
texlive-moderncv	latex
texlive-xetex	latex
texmaker	latex
texstudio	latex
texlive-xifthen	latex
texlive-euenc	latex
texlive-biblatex	latex
texlive-needspace	latex
texlive-pdftex	latex
texlive-xltxtra	latex
texlive-layaureo	latex
texlive-supertabular	latex
texlive-titlesec	latex
texlive-textpos	latex
texlive-tabu	latex
texlive-totpages	latex
texlive-flowfram	latex
texlive-lastpage	latex
texlive-sectsty	latex
texlive-cm-unicode	latex
texlive-unicode-math	latex
texlive-utf8mex	latex
texlive-kotex-utf	latex
texlive-hyph-utf8	latex
texlive-xargs	latex
texlive-fontawesome	latex
texlive*	latex

# Photo
gpick	photo
gimp	photo
dia	photo
inkscape	photo
inkscape	photo
gimp	photo
gimp-data-*	photo
gimp-fourier-plugin	photo
gimp-lqr-plugin	photo
gimp-resynthesizer	photo
gimpfx-foundry	photo

# Drivers
ntfs-config	drivers
ntfs-3g	drivers
xboxdrv	drivers
fswebcam	drivers

# Office
pidgin	office
pidgin-sipe	office
purple-plugin_pack	office
ekiga	office
evolution	office
evolution-ews	office

#----------------------------------------------------------------------------------------
# End file
#----------------------------------------------------------------------------------------
