#----------------------------------------------------------------------------------------
# Fedora Install Script
# Imput packages to install
#----------------------------------------------------------------------------------------

# Reserved values:
PackageSelectionVersion	0.4

# Values:
#   PackageName: Name of package
#   Category: Optional Category (see documentation)

# PackageName	Category

# #####################################################################
# Repos
http://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm	repo
http://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm	repo

# #####################################################################
# utils
screen	utils
mc	utils

mtr	utils
htop	utils
iftop	utils
iotop	utils

filezilla	utils
rdesktop	utils
keepassxc	utils

curl	utils

unrar	utils
libunrar	utils
p7zip	utils
p7zip-gui	utils
p7zip-plugins	utils

gparted	utils
wget	utils
ghex	utils

hexchat	utils

nextcloud-client	utils
nextcloud-client-dolphin	utils

kdocker	utils
screenfetch	utils
neofetch 	utils
scrot	utils

lm_sensors	utils
dateutils	utils
gnuplot	utils

simplescreenrecorder	utils
vokoscreen	utils

# #####################################################################
# developers

kernel-devel	developers
kernel-headers	developers
gcc	developers
gcc-c++	developers
gcc-objc	developers
cmake	developers
git	developers
gitg	developers

# compat-libstdc++-33	developers
# compat-libstdc++-296	developers
# compat-libstdc++-33.i686	developers

rpm-build	developers
npm	developers
perl-core	developers
nodejs	developers
make	developers
python-appindicator	developers
libappindicator-gtk3	developers

kdiff3	developers

perl-Switch	developers
perl-Time-Progress	developers

python3-pexpect	developers

python3-configparser.noarch	developers

automake	developers
ctags-etags	developers

perl-Parse-ExuberantCTags	developers

python3-requests.noarch	developers

composer	developers

# #####################################################################
# java

icedtea-web	java
java-11-openjdk-headless	java
java-11-openjdk	java
java-11-openjdk-devel	java
openjfx	java

# #####################################################################
# terminal

powerline	terminal
tmux-powerline	terminal
vim-powerline	teminal

ftp	terminal
vte	terminal
perl-IO-Stty	terminal
perl-Gtk2-Unique	terminal
perl-Crypt-Rijndael	terminal
perl-Crypt-Blowfish	terminal

perl-Crypt-CBC.noarch	terminal
perl-Expect	terminal
perl-Gnome2	terminal
perl-Gtk2-Ex-Simple-List	terminal
perl-Gtk2-GladeXML	terminal
perl-Net-ARP	terminal
uuid-perl	terminal
perl-Socket6	terminal
perl-YAML	terminal
perl-Gnome2-GConf	terminal

perl-Gnome2-Vte	terminal

putty	terminal

pacmanager	terminal

tmux	terminal
tmux-top	terminal
tmux-powerline	terminal

vim-common	terminal
vim-enhanced	terminal
vim-filesystem	terminal
vim-minimal	terminal
vim-powerline	terminal

vim-gtk-syntax	terminal
vim-latex	terminal
vim-nerdtree	terminal
vim-perl-support	terminal
vim-taglist	terminal

vim-syntastic-c	terminal
vim-syntastic-css	terminal
vim-syntastic-html	terminal
vim-syntastic-javascript	terminal
vim-syntastic-json	terminal
vim-syntastic-lua	terminal
vim-syntastic-perl	terminal
vim-syntastic-php	terminal
vim-syntastic-python	terminal
vim-syntastic-xhtml	terminal
vim-syntastic-xml	terminal

powerline	terminal
powerline-fonts	terminal
tmux-powerline	terminal
vim-powerline	terminal

bash-completion	terminal
xsel	terminal
xclip	terminal
urlview	terminal


# #####################################################################
# fonts

google-android-emoji-fonts	fonts
google-croscore-arimo-fonts	fonts
google-croscore-cousine-fonts	fonts
google-croscore-fonts-common	fonts
google-crosextra-caladea-fonts	fonts
google-crosextra-carlito-fonts	fonts
google-droid-sans-fonts	fonts
google-noto-fonts-common	fonts
google-noto-sans-lisu-fonts	fonts
google-noto-sans-mandaic-fonts	fonts
google-noto-sans-meetei-mayek-fonts	fonts
google-noto-sans-sinhala-fonts	fonts
google-noto-sans-tagalog-fonts	fonts
google-noto-sans-tai-tham-fonts	fonts
google-noto-sans-tai-viet-fonts	fonts
google-droid-sans-mono-fonts	fonts
google-droid-serif-fonts	fonts
google-noto-sans-fonts	fonts
google-noto-serif-fonts	fonts
google-roboto-condensed-fonts	fonts
google-roboto-fonts	fonts

# #####################################################################
# Music

clementine	music

gstreamer	music
gstreamer-tools	music
gstreamer-ffmpeg	music
gstreamer-plugins-bad	music
gstreamer-plugins-bad-free	music
gstreamer-plugins-bad-nonfree	music
gstreamer-plugins-base	music
gstreamer-plugins-good	music
gstreamer-plugins-ugly	music
gstreamer-plugins-base-tools	music
gstreamer-plugins-good-extras	music


gstreamer1	music
gstreamer1-plugins-bad-free	music
gstreamer1-plugins-bad-free-extras	music
gstreamer1-plugins-bad-nonfree	music
gstreamer1-plugins-base	music
gstreamer1-plugins-good	music
gstreamer1-plugins-ugly	music
gstreamer1-plugins-bad-freeworld	music
gstreamer1-plugins-base-tools	music
gstreamer1-plugins-good-extras	music
gstreamer1-libav	music

lollypop	music

audacity	music

audacious	music
audacious-plugins	music

amarok	music
amarok-utils	music

# #####################################################################
# Video

ffmpeg-devel	video
ffmpeg	video

vlc	video

obs-studio	video

kdenlive	video

youtube-dl	video

# #####################################################################
# Networking

wireshark	networking
nmap	networking
tcpdump	networking
net-snmp-libs	networking
net-snmp	networking
net-snmp-agent-libs	networking
net-snmp-gui	networking
net-snmp-utils	networking


# #####################################################################
# customization

hddtemp	customization
lm_sensors	customization
conky	customization
udisks2	customization

kvantum	customization
arc-kde-kvantum	customization

# #####################################################################
# services

mariadb	services
mariadb-server	services
phpmyadmin	services
httpd	services
httpd-tools	services
php	services
php-gd	services
rrdtool	services
php-mhash	services
php-mcrypt	services
php-Smarty	services
php-cli	services
php-pear	services

# #####################################################################
# office

aspell	office
gtkspell	office
hunspell	office
hunspell-en-US	office
aspell-en	office
aspell-es	office
hunspell-en	office
hunspell-es	office
libreoffice-langpack-es	office
libreoffice-langpack-en	office

libreoffice-writer	office
libreoffice-calc	office
libreoffice-impress	office
libreoffice-draw	office
libreoffice-langpack-es	office

pidgin	office
pidgin-sipe	office
purple-plugin_pack	office
linphone	office
purple-plugin_pack-pidgin	office
purple-matrix	office
purple-libsteam	office
purple-hangouts	office
purple-sipe	office
purple-plugin_pack	office

libreoffice	office

# #####################################################################
# photo

dia	photo
inkscape	photo
gimp	photo
gimp-data-*	photo
gimp-fourier-plugin	photo
gimp-lqr-plugin	photo
gimp-resynthesizer	photo
gimpfx-foundry	photo

# #####################################################################
# drivers

ntfs-3g	drivers
xboxdrv	drivers
fswebcam	drivers

foo2zjs	drivers

hplip	drivers
hplip-gui	drivers

android-tools	drivers

# #####################################################################
# libs

libcxx	libs
libcxxabi	libs

openssh-askpass	libs

libxcrypt-compat	libs

# #####################################################################
# virt

virt-install	virt
virt-manager	virt
virt-viewer	virt
virt-top	virt
virt-who	virt
libvirt-client	virt
libvirt-daemon	virt
libvirt-daemon-config-network	virt
libvirt	virt
libvirt-admin	virt
libvirt-designer	virt
libvirt-wireshark	virt

cockpit	virt
cockpit-bridge	virt
cockpit-dashboard	virt
cockpit-docker	virt
cockpit-networkmanager	virt
cockpit-pcp	virt
cockpit-storaged	virt
cockpit-system	virt
cockpit-ws	virt
cockpit-kubernetes	virt
cockpit-machines	virt
cockpit-selinux	virt

docker	virt

# #####################################################################
# kde

kgpg	kde
kate	kde
ark	kde
kget	kde
kcalc	kde
kmouth	kde
kmousetool	kde
kcharselect	kde
gwenview	kde
spectacle	kde
latte-dock	kde
kaccounts-providers	kde
kdeconnect*	kde

# #####################################################################
# 


# #####################################################################
# 
